# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Django migrations
*/migrations/
*/migrations/*.py
*/migrations/*.pyc

# Media / file uploads
/media/
/staticfiles/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code and IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# Pyright
pyrightconfig.json